<div class="center">
  <div>
    <input [(ngModel)]="todo.label" (keydown.enter)="add()" placeholder="What's todo?">
  </div>
  <div>
    <ul>
      <li *ngFor="let todo of todos">
        <div>
          <input type="checkbox" (change)="complete(todo)">
          <span>{{todo?.label}} - <button (click)="deleteSingleTodo(todo)">Delete</button></span>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <span>Count: {{todos?.length}} </span>
    <button *ngIf="hasCompletedTodos()" (click)="remove()">Remove completed</button>
  </div>
</div>
